body{
    
    font-family: 'Rubik', sans-serif;
}
.top-bg{
    margin-top: -10px;
    margin-left: -10px;
    
}
.content-width{
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    
}

.intro-width{
    width: 50%;
}
.intro-text{
    
    margin-top: 3%;
    margin-left: 10%;
}
.intro-img{
    padding-top: 40px;
    width: 100%;
    height: 450px;
}
.intro-h1{
    
    font-size: 50px;
}
.name-color{
    color: yellowgreen;
}
.intro-section{
    margin-bottom: 10%;
}
.timepass-width{
    width:100%;
}
.timepass-img{
    margin-left: 40px; 
}
.radius-img{
    border-radius: 60%;
    box-shadow: 5px 5px 5px orange;
}
.right-corner{
    position: absolute;
    right: 0px;
    top: 190px;
}
.timepass-text{
    width: 50%;
    margin-left: 8%;
    padding-right: 5%;
    
}
.timepass-section{
    margin-bottom: 10%;
}
a{
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)
    
}
.expertise-img{
    display: flex;
    position: absolute;
    padding-top: 50px;
}
.extpertise-section{
    margin-bottom: 10%;
    
}
.transparent-border{
    width: 350px;
    margin: auto;
    padding: 20px;
    border:  transparent gainsboro;
    box-shadow: 10px 10px 10px 12px gainsboro;
}
.gradient-one{
    border-left: 5px solid gray;
    border-image:
    linear-gradient(to bottom, green, rgba(0, 0, 0, 0)) 1 100%;
}
.gradient-two{
    border-left: 5px solid gray;
    border-image: 
    linear-gradient(to bottom, green, rgba(0, 0, 0, 0)) 1 100%;
}
@media only screen and (max-width: 500px){
    .timepass-text{
        position: absolute;
        top: 400px;        
    }

    .right-corner{
        display: none;
    }
    .expertise-section{
        margin-top: 120% ;
        
    }
    .radius-img{
        margin-left: -20px;
        width: 100%;
    }
}

footer{
    color: steelblue;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
}