body{
    background-color: rgba(129, 129, 115, 0.068);
    font-family: 'Rubik', sans-serif;
}
.content-width{
    display: flex;
    width: 100%;
    margin: auto;
    
}

.intro-width{
    width: 50%;
}
.intro-text{
    
    margin-top: 3%;
    margin-left: 10%;
}
.intro-h1{
    font-size: 40px;
}
.name-color{
    color: yellowgreen;
}
.timepass-width{
    width:100%;
}
.timepass-text{
    display: block;
    width: 50%;
    margin-left: 10%;
}
a{
    color: white;
    text-decoration: none;
    border: 5px solid rgb(33, 226, 184);
    border-radius: 7px;
    background-color: rgb(33, 226, 184);

}