body{
    font-family: 'Rubik', sans-serif;
}
.content-width{
    display: flex;
    width: 100%;
    
}

.intro-width{
    width: 50%;
}
.intro-text{
    font-size: 40px;
}
.name-color{
    color: yellowgreen;
}