body{
    background-color: rgba(129, 129, 115, 0.068);
    font-family: 'Rubik', sans-serif;
}
.content-width{
    display: flex;
    width: 100%;
    
}

.intro-width{
    width: 50%;
}
.intro-text{
    font-size: 40px;
}
.name-color{
    color: yellowgreen;
}
.timepass-size{
    width:100%;
    
}